$body-bg: #f2f2f2;

$primary: #3ba5dc;
$secondary: #ff3697;
$danger: #eb5757;
$success: #27ae60;
$warning: #ff7f50;
$info: #00c9bd;
$dark: #272727;

$blue: blue;
$indigo: indigo;
$purple: purple;
$pink: pink;
$red: red;
$orange: rgb(251, 186, 64);
$yellow: yellow;
$green: rgb(80, 185, 80);
$teal: teal;
$cyan: cyan;
$white: white;
$gray: #4f4f4f;
$gray-dark: darkslategray;

$colors: (
  "blue": $blue,
  "indigo": $indigo,
  "purple": $purple,
  "pink": $pink,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "teal": $teal,
  "cyan": $cyan,
  "white": $white,
  "gray": $gray,
  "gray-dark": $gray-dark,
);

$color-ranges: (
  0: 0,
  10: 10,
  20: 20,
  30: 30,
  40: 40,
);
